lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
_public
bower_components
node_modules
source/public/components

*.sublime*

src/server/tests/**/*.js
src/client/javascripts/directives/*.js

env.sh

nocks
