<%- stylesheet_link_tag('auth.choose', '//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css') %>

<div class="container">

    <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>

    <div class="container text-center">
        <form class="form-signin" data-ember-action="2">
            <h2 class="form-signin-heading">Sign in</h2>

            <small class="text-muted">Connect MemoryDive with your social network</small>
            <br><br>


        <p>
        <a class="btn btn-primary social-login-btn social-facebook" href="/auth/signin?provider=facebook"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-primary social-login-btn social-google" href="/auth/signin?provider=google"><i class="fa fa-google-plus"></i></a>
        </p>

        <br><br>
    </form>
</div>